<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - FOOD POSTER</title>
    <link rel="shortcut icon" href="/public/res/favicon.jpg" />
    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/css/headerStyle.css">
    <link rel="stylesheet" href="/public/css/mainStyle.css">
    <script src="/public/scripts/carrouselDestacados.js"></script>
    {% endblock %}
</head>

<body>
    <header>{% block header %}{% endblock %}</header>
    <main>{% block main %}{% endblock %}</main>
    <footer>{% block footer %}{% endblock %}</footer>
</body>

</html>