{% extends "base.html" %}

{% block title %}Buscar Platos{% endblock %}

{% block header %}
{{ include('partials/headerIntro.html') }}
{{ include('partials/headerNav.html') }}

{% endblock %}

{% block head %}
{{ parent() }}
<meta name="keywords" content="PAW,2018,Templates,PHP">
{% endblock %}

{% block main %}
{{ include('partials/headerBuscador.html') }}
<section  id="sectionDatos">
        <ul id="busquedaResto">
            <li class="tarjetabusqueda">
                    <a href="/">
                        <img src="/public/res/plato.jpg" alt="imagen restaurant" class="fotoPlato">
                        <section class="titulosR">
                            <h4>Restaurant: Restaurant X </h4>
                            <h4>Ubicacion: Lujan </h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        </section>
                    </a>
                </li>
                <li class="tarjetabusqueda">
                        <a href="/">
                            <img src="/public/res/plato.jpg" alt="imagen restaurant" class="fotoPlato">
                            <section class="titulosR">
                                <h4>Restaurant: Restaurant X </h4>
                                <h4>Ubicacion: Lujan </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            </section>
                        </a>
                    </li>
                    <li class="tarjetabusqueda">
                            <a href="/">
                                <img src="/public/res/plato.jpg" alt="imagen restaurant" class="fotoPlato">
                                <section class="titulosR">
                                    <h4>Restaurant: Restaurant X </h4>
                                    <h4>Ubicacion: Lujan </h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                </section>
                            </a>
                        </li>
                        <li class="tarjetabusqueda">
                                <a href="/">
                                    <img src="/public/res/plato.jpg" alt="imagen restaurant" class="fotoPlato">
                                    <section class="titulosR">
                                        <h4>Restaurant: Restaurant X </h4>
                                        <h4>Ubicacion: Lujan </h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                    </section>
                                </a>
                            </li>
                            <li class="tarjetabusqueda">
                                    <a href="/">
                                        <img src="/public/res/plato.jpg" alt="imagen restaurant" class="fotoPlato">
                                        <section class="titulosR">
                                            <h4>Restaurant: Restaurant X </h4>
                                            <h4>Ubicacion: Lujan </h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                        </section>
                                    </a>
                                </li>
                                <li class="tarjetabusqueda">
                                        <a href="/">
                                            <img src="/public/res/plato.jpg" alt="imagen restaurant" class="fotoPlato">
                                            <section class="titulosR">
                                                <h4>Restaurant: Restaurant X </h4>
                                                <h4>Ubicacion: Lujan </h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                            </section>
                                        </a>
                                    </li>
                        
            </ul>
    </section>
<form id="filtros">

        <h2>Filtros de Busqueda</h2>
       
        <section class="filtro">
                <h2>Ordenar por:
                <select name="cars">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="fiat">Fiat</option>
                        <option value="audi">Audi</option>
                      </select>
                </section>
            </h2>

                <section class="filtro">
                <h2>Zonas</h2>
                <input type="checkbox" name="vehicle1" value="Bike"> <br>
                <input type="checkbox" name="vehicle2" value="Car"> <br>
                <input type="checkbox" name="vehicle1" value="Bike"> <br>
                <input type="checkbox" name="vehicle2" value="Car"> <br>
                </section>
           
         
                <section class="filtro">
                        <h2>Caracteristicas</h2>
                        <input type="checkbox" name="vehicle1" value="Bike"> <br>
                <input type="checkbox" name="vehicle2" value="Car"> <br>
                <input type="checkbox" name="vehicle1" value="Bike"> <br>
                <input type="checkbox" name="vehicle2" value="Car"> <br>
                <input type="checkbox" name="vehicle1" value="Bike"> <br>
                <input type="checkbox" name="vehicle2" value="Car"> <br>
                <input type="checkbox" name="vehicle1" value="Bike"> <br>
                <input type="checkbox" name="vehicle2" value="Car"> <br>
                </section>
             
          
                <section class="filtro">
                <h2>Precio</h2>
                0<input type="range"  id="a" name="a" value="50">100 
                
                </section>
       
   
        <input type="submit">
</form>




{% endblock %}