<footer>
    <section class="container">
        <span id="goToCielo">
            <img src="/public/svgs/solid/angle-up.svg" alt="">
        </span>
        <section id="newsLetter">
            <h3>Newsletter</h3>
            <form action="" method="get">
                <input type="text" name="nombre" placeholder="Nombre">
                <input type="email" name="email" placeholder="Tu Email">
                <button id="newsBtnSubmit" type="submit"><img src="/public/svgs/solid/angle-right.svg" alt=""></button>
            </form>
        </section>
        <section id="redesSociales">
            <h3>Redes Sociales</h3>
            <ul class="ulRedes">
                <li><a href="http://www.facebook.com"><img src="/public/svgs/brands/facebook.svg" alt=""></a></li>
                <li><a href="http://www.twitter.com"><img src="/public/svgs/brands/twitter.svg" alt=""></a></li>
                <li><a href="http://www.instagram.com"><img src="/public/svgs/brands/instagram.svg" alt=""></a></li>
                <li><a href="http://www.youtube.com"><img src="/public/svgs/brands/youtube.svg" alt=""></a></li>
            </ul>
        </section>
        <section id="contactanos">
            <h3>Contactanos</h3>
            <ul>
                <li><img src="/public/svgs/solid/phone.svg" alt="">+54 1234567890</li>
                <li><img src="/public/svgs/solid/envelope.svg" alt="">blabla@mail.com</li>
                <li><img src="/public/svgs/solid/globe-americas.svg" alt="">www.thispage.com</li>
                <li><img src="/public/svgs/solid/map-marker-alt.svg" alt="">Springfield - Calle Falsa 123</li>
            </ul>
        </section>
    </section>
</footer>