<header>
    <section class="container">
        <section id="headerPrincipalSection">
            <span id="sanguche">
                <img src="/public/svgs/solid/bars.svg" alt="">
            </span>
            <div id="headerTituloLogo">
                <a href="/">
                    <img src="/public/res/logo.png" alt="logo" id="logoPagina">
                    <h1>FoodieOrac</h1>
                </a>
            </div>
            <span id="headerSearch">
                <img src="/public/svgs/solid/search.svg" alt=""></img>
            </span>
        </section>
        <section id="headerBuscarSection">
            <form action="" method="get">
                <span id="searchBack">
                    <img src="/public/svgs/solid/angle-left.svg" alt="">
                </span>
                <input type="text" name="buscarTexto" id="" placeholder="Buscar">
                <button type="submit"><img src="/public/svgs/solid/search.svg" alt=""></button>
            </form>
        </section>
        <div class="botonesUsuario">
            <button id="btnHeaderIngresar" class="botones" data-toggle="modal"
                data-target="#modalLogin">Ingresar</button>
            <button id="btnHeaderRegistrate" class="botones" data-toggle="modal"
                data-target="#modalLogin">Registrarse</button>
        </div>
    </section>
</header>