<section id="modalLogin" class="modal">
    <div class="container">
        <span class="closeBtn">
            <img src="/public/svgs/solid/times-circle.svg" alt="">
        </span>
        <div class="modalBody">
            <div>
                <button id="btnModalIngresar" class="activo">Ingresar</button>
                <button id="btnModalRegistrarse">Registrate</button>
            </div>
            <section id="containerForms">
                <section id="sectionFormIngresar" class="activo slideIngresar">
                    <form action="/" method="get" class="formLogin">
                        <div>
                            <label for="emailIngreso">Email:</label>
                            <input type="email" name="email" id="emailIngreso">
                        </div>
                        <div>
                            <label for="contraseñaIngreso">Contraseña:</label>
                            <input type="password" name="contraseña" id="contraseñaIngreso">
                        </div>
                        <input type="submit" value="Ingresar" class="botones">
                    </form>
                </section>
                <section id="sectionFormRegistrarse" class="slideRegistrate">
                    <form action="/" method="get" class="formLogin">
                        <div>
                            <label for="nickRegistro">Nick:</label>
                            <input type="email" name="nick" id="nickRegistro">
                        </div>
                        <div>
                            <label for="emailRegistro">Email:</label>
                            <input type="email" name="email" id="emailRegistro">
                        </div>
                        <div>
                            <label for="contraseñaRegistro">Contraseña:</label>
                            <input type="password" name="contraseña" id="contraseñaRegistro">
                        </div>
                        <div>
                            <label for="repContraseñaRegistro">Repita Contraseña:</label>
                            <input type="password" id="repContraseñaRegistro">
                        </div>
                        <input type="submit" value="Registrate" class="botones">
                    </form>
                </section>
            </section>
        </div>
    </div>
</section>