<nav>
    <section class="container">
        <div class="botonesUsuario">
            <button id="btnIngresar" class="botones" data-toggle="modal" data-target="#modalLogin">Ingresar</button>
            <button id="btnRegistrate" class="botones" data-toggle="modal"
                data-target="#modalLogin">Registrarse</button>
        </div>
        <span id="closeBtnNav" class="closeBtn">
            <img src="/public/svgs/solid/times-circle.svg" alt="">
        </span>
        <ul id="ulSecciones">
            <li><a href="/">Home</a></li>
            <li><a href="/restaurantes">Restaurantes</a></li>
            <li><a href="/platos">Platos</a></li>
            <li><a href="/">Cerca de mi</a></li>
        </ul>

        <ul class="ulRedes">
            <li><a href="http://www.facebook.com"><img src="/public/svgs/brands/facebook.svg" alt=""></a></li>
            <li><a href="http://www.twitter.com"><img src="/public/svgs/brands/twitter.svg" alt=""></a></li>
            <li><a href="http://www.instagram.com"><img src="/public/svgs/brands/instagram.svg" alt=""></a></li>
            <li><a href="http://www.youtube.com"><img src="/public/svgs/brands/youtube.svg" alt=""></a></li>
        </ul>
    </section>
</nav>