
<section class="headerNav">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/resto">Restaurantes</a></li>
            <li><a href="/platos">Platos</a></li>
            <li><a href="/users">Bebidas</a></li>
            <li><a href="/tasks">Cerca de mi</a></li>
    
        </ul>
    </nav>
</section>