<section class="headerBuscador">
    <form action="/">
        <input type="search" name="buscador" id="inputBuscador" placeholder="Ej.: Starbuck, Parrilla el Beto, Sushi.."
            required>

       
       
        <input type="submit" value="Buscar">
    </form>
</section>