<section class="headerIntro">
        <ul>
   <li><a href="/"><img src="/public/res/logo.jpg" alt="logo de página" id="logoPagina"> </a>
   <!-- <h1>NOMBRE DEL SITIO</h1>-->
   <li>  <a href="http://www.facebook.com"><img src="/public/res/logoFacebook.png" alt="logo de facebook"
            class="logoRedesSociales"></a></li>
            <li> <a href="http://www.twitter.com"><img src="/public/res/logoTwitter.png" alt="logo de twitter"
            class="logoRedesSociales"></a></li>
            <li><a href="http://www.instagram.com"><img src="/public/res/logoInstagram.png" alt="logo de instagram"
            class="logoRedesSociales"></a></li>
            <li> <section class="headerIntroBuscador"></section>
                <form action="/">
                    <input type="search" name="buscador" id="busca" placeholder="Ej.: Starbuck, Parrilla el Beto, Sushi.."
                        required>
            
                    <input type="submit" value="Buscar" id="botonBusca">
                </form>
            </section></li>
            <li><a href="/login" id="login"><span>Ingresar</span><img src="/public/res/logoLogin.png" alt="logo de login"
            class="login"></a></li>
        </ul>
</section>