<!--esto claramente sacado de la base de datos va a ser dinamico-->
<section id="topPlatos">
    <h2>TOP 3 PLATOS</h2>
    <ul>
        <li class="tarjetaTopPlato">
            <a href="/">
                <img src="/public/res/plato.jpg" alt="imagen restaurant" class="fotoPlato">
                <section class="titulos">
                    <h3>Plato 1</h3>
                    <h4>Restaurant: Restaurant X </h4>
                </section>
            </a>
        </li>
        <li class="tarjetaTopPlato">
            <a href="/">
                <img src="/public/res/plato.jpg" alt="imagen restaurant" class="fotoPlato">
                <section class="titulos">
                    <h3>Plato 2</h3>
                    <h4>Restaurant: Restaurant X </h4>
                </section>
            </a>
        </li>
        <li class="tarjetaTopPlato">
            <a href="/">
                <img src="/public/res/plato.jpg" alt="imagen restaurant" class="fotoPlato">
                <section class="titulos">
                    <h3>Plato 3</h3>
                    <h4>Restaurant: Restaurant X </h4>
                </section>
            </a>
        </li>
    </ul>
</section>