<!--esto claramente sacado de la base de datos va a ser dinamico-->
<section id="topRestaurantes">
    <h2>TOP 3 RESTAURANTES</h2>
    <ul>
        <li class="tarjetaTopRestaurant">
            <a href="/">
                <img src="/public/res/restaurant.jpg" alt="imagen restaurant" class="fotoRestaurant">
                <section class="titulos">
                    <h3>Restaurante 1</h3>
                    <h4>Ubicacion: Ubicacion X</h4>
                </section>
            </a>
        </li>
        <li class="tarjetaTopRestaurant">
            <a href="/">
                <img src="/public/res/restaurant.jpg" alt="imagen restaurant" class="fotoRestaurant">
                <section class="titulos">
                    <h3>Restaurante 2</h3>
                    <h4>Ubicacion: Ubicacion X</h4>
                </section>
            </a>
        </li>
        <li class="tarjetaTopRestaurant">
            <a href="/">
                <img src="/public/res/restaurant.jpg" alt="imagen restaurant" class="fotoRestaurant">
                <section class="titulos">
                    <h3>Restaurante 3</h3>
                    <h4>Ubicacion: Ubicacion X</h4>
                </section>
            </a>
        </li>
    </ul>
</section>