<section id="combinadoCon">
    <p class="tituloTarjeta">Combinado con</p>
    <section id="combinadoBebidas">
        <p>Vino Blanco</p><br>
        <p>Gaseosa</p><br>
    </section>
    <section id="combinadoPostres">
        <p>Helado</p><br>
        <p>Ensalada de Frutas</p><br>
    </section>
</section>