<script src="http://maps.google.com/maps/api/js?sensor=false&callback=ubicarMaps">
</script>
<section id="listaDondeEncontrarlo">
    <ul>
        <li onclick="ubicarMaps(23.1368, -82.3816)">
            <p>Restaurante x</p>
            <p>Ubicacion x</p>
            <p class="precio">$xxx.xx</p>
        </li>
        <li onclick="ubicarMaps(23.1311, -82.3726)">
            <p>Restaurante x</p>
            <p>Ubicacion x</p>
            <p class="precio">$xxx.xx</p class="precio">
        </li>
        <li onclick="ubicarMaps(35.40, 35)">
            <p>Restaurante x</p>
            <p>Ubicacion x</p>
            <p class="precio">$xxx.xx</p class="precio">
        </li>
        <li onclick="ubicarMaps(-15.40, -40)">
            <p>Restaurante x</p>
            <p>Ubicacion x</p>
            <p class="precio">$xxx.xx</p class="precio">
        </li>
        <li onclick="ubicarMaps(5.0, 20)">
            <p>Restaurante x</p>
            <p>Ubicacion x</p>
            <p class="precio">$xxx.xx</p class="precio">
        </li>
        <li onclick="ubicarMaps(25.40, -30)">
            <p>Restaurante x</p>
            <p>Ubicacion x</p>
            <p class="precio">$xxx.xx</p class="precio">
        </li>
        <li onclick="ubicarMaps(15.40, -20)">
            <p>Restaurante x</p>
            <p>Ubicacion x</p>
            <p class="precio">$xxx.xx</p class="precio">
        </li>
    </ul>
</section>
<section id="mapaDondeEncontrarlo">
    <script>
        function todos() {
            var mapOptions3 = {
                center: new google.maps.LatLng(23.1311, -82.3726),
                //Universidad
                zoom: 13,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("mapaDondeEncontrarlo"), mapOptions3);

            //marcador con la ubicación de la Universidad
            var place = new google.maps.LatLng(23.1368, -82.3816);
            var marker = new google.maps.Marker({
                position: place,
                map: map,
                title: 'Pulsa aquí',
                animation: google.maps.Animation.DROP,
            });

            //marcador en el centro del mapa
            var marker2 = new google.maps.Marker({
                position: map.getCenter(),
                map: map,
            });

            //globo de informacion del marcador 2
            var popup = new google.maps.InfoWindow({
                content: 'Esta es la tienda Carlos III'
            });
            popup.open(map, marker2);

            //globo de informacion al dar un clic en el marcador 2
            function showInfo() {
                map.setZoom(16);
                //aumenta el zoom
                map.setCenter(marker.getPosition());
                var contentString = 'Ubicación Actual';
                var infowindow = new google.maps.InfoWindow({
                    content: 'Aqui es donde estudio, lee mas información en: <a href="http://norfipc.com">NorfiPC</a>'
                });
                infowindow.open(map, marker);
            }
            //Dispara accion al dar un clic en el marcador		
            google.maps.event.addListener(marker, 'click', showInfo);
        }
        todos();
    </script>
</section>


<script>
    function ubicarMaps(latitud, longitud) {
        var mapOptions = {
            center: new google.maps.LatLng(latitud, longitud),
            zoom: 10,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("mapaDondeEncontrarlo"), mapOptions);
        var place = new google.maps.LatLng(latitud, longitud);
        var marker = new google.maps.Marker({
            position: place,
            map: map,
            title: 'Pulsa aquí',
            animation: google.maps.Animation.DROP,
        });

        function showInfo() {
            map.setZoom(16);
            var contentString = 'Ubicación Actual';
            var infowindow = new google.maps.InfoWindow({
                content: 'Restaurante X'
            });
            infowindow.open(map, marker);
        }
        google.maps.event.addListener(marker, 'click', showInfo);
    }
</script>