<section id="infoBasica">
    <p class="tituloTarjeta">Plato xxx</p>
    <p class="parrafoDescripcion">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae itaque ipsum non sint
        tempora cum amet est debitis, porro minus, dolore odit delectus accusamus, corporis odio doloremque. Libero,
        ipsum molestias!</p>
    <section id="caracteristicas">
        <p><img src="/public/res/sintacc.png" class="imagenCaracteristicas">
            <img src="/public/res/vegano.png" class="imagenCaracteristicas">
            <img src="/public/res/vegetarian.png" class="imagenCaracteristicas">
        </p>
        <p>
            <img src="/public/res/sinazucar.png" class="imagenCaracteristicas">
            <img src="/public/res/conlacteos.png" class="imagenCaracteristicas">
            <img src="/public/res/conlacteos.png" class="imagenCaracteristicas">
        </p>
    </section>
    <section id="tagsPlato">
        <p>Relacionados</p>
        <a href="/">#Mostaza</a>
        <a href="/">#Arroz</a>
        <a href="/">#Miel</a>
        <a href="/">#Pollo</a>
        <a href="/">#ArrozConPollo</a>
    </section>
</section>