{% extends "base.html" %}

{% block title %}Platos{% endblock %}

{% block header %}

{{ include('header/headerIntro2.html') }}
{{ include('header/headerNav.html') }}


{% endblock %}

{% block head %}
{{ parent() }}
<meta name="keywords" content="PAW,2018,Templates,PHP">
<link rel="stylesheet" href="/public/css/resultados.css">
<script src="/public/scripts/filtros.js"></script>
{% endblock %}

{% block main %}
<section id="contenedorSuperior">

</section>
<section id="contenedorLateral">
    {{ include('busqueda/filtros.html') }}
</section>
<section id="contenedorResultados">
    {{ include('busqueda/resultados.html') }}
</section>

{% endblock %}