{% extends "base.html" %}

{% block title %}Plato{% endblock %}

{% block header %}

{{ include('header/headerIntro2.html') }}
{{ include('header/headerNav.html') }}


{% endblock %}

{% block head %}
{{ parent() }}

<meta name="keywords" content="PAW,2018,Templates,PHP">
<link rel="stylesheet" href="/public/css/platoSingle.css">
<link rel="stylesheet" href="/public/css/comentarios.css">
<script src="/public/scripts/carrouselPlato.js"></script>
<script src="/public/scripts/carrouselPlatoVarios.js"></script>


{% endblock %}

{% block main %}
<section id="contenedorSuperior">
    {{include ('/plato/carrouselFotos.html')}}
    {{include ('/plato/combinadoCon.html')}}
    {{include ('/plato/infoBasica.html')}}
</section>
<section id="contenedorMedio">
    {{include ('/plato/dondeEncontrarlo.html')}}
</section>


{{include ('/comentario/comentariosPlato.html')}}

<script>
    armarCarrouselPlato("carrouselPlato");
    armarCarrouselPlatoVarios("carrouselPlatoVarios");
</script>
{% endblock %}