header {
    margin: 0vh;
    width: 96vw;
    height: 10vh;
    top: 0;
}
body {
    border: 1vh;
    font-family: Calibri;
    /* background-color: steelblue; */
    /*    background-color: rgb(50, 50, 50);*/
    background-color: #F2F2F2;
}
main {
    position: absolute;
    top: 20vh;
    width: 90vw;
    /* max-width: 1024px; */
    height: 540px;
    /*background: #4e514e;*/
    background: #F2F2F2;
    margin: auto;
    /* background: white; 
   /* padding: 10px;*/
}
a {
    text-decoration: none;
}
legend {
    text-align: center;
}

/* Mis cosas */

h1 {
    color: black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
form {
    /*   background-color: rgb(135, 151, 179); */
    background-color: rgba(255, 255, 255, 0.3);
    background-color: #BBC7D6;
}
form label {
    color: black;
}
input,
select {
    color: rgb(50, 50, 50);
    margin-bottom: 1em;
    padding: 4px 10px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}
input[type=submit] {
    text-decoration: none;
    background-color: rgba(200, 255, 200, 1);
    width: 20%;
    margin: 2%;
}
input[type=reset] {
    background-color: rgba(255, 200, 200, 1);
    width: 20%;
    margin: 2%;
}
input[type=button] {
    background-color: rgba(0, 0, 0);
    color: white;
}
input[type=button]:hover {
    transform: scale(1.1);
}
form output {
    /* border: 2px solid black; */
    background-color: rgb(156, 236, 82);
    padding: 1px 5px;
}

/* Lo uso luego de cargar el formulario */

.success {
    color: rgb(57, 185, 64);
}

/* Coloreo el asterisco de campo requerido */

.asterisco {
    color: rgb(226, 47, 47);
    font-weight: bold;
    /* Negrita */
    margin: 0.5em;
}

/* Coloreo el aviso de error */

.error {
    color: rgb(226, 47, 47);
    font-weight: bold;
    font-size: 2em;
}
dl {
    background-color: #4e514e;
    /*   width: 100%; */
}
dt {
    /* text-decoration: underline; */
    float: left;
    width: 20%;
    margin-right: 10px;
    background-color: darkgray;
    padding: 10px;
}
dt:nth-child(4n+1),
dd:nth-child(4n+2) {
    color: #8D9E8D;
    color: azure;
}
dd {
    width: 97%;
    margin: 1px;
    padding: 10px;
    background-color: gray;
}
.div input {
    border-color: black;
    border: 1px;
    margin: 0 0 0 0;
    top: 8px;
    height: 60px;
    width: 160px;
    list-style-type: none;
    margin: 0px;
    padding: 20px 0px;
    /* width: 100%; */
    background-color: #f1f1f1;
    color: black;
    display: inline;
}
.div input:hover {
    border-color: black;
    border: 1px;
    margin: 0 0 0 0;
    top: 8px;
    height: 60px;
    width: 160px;
    list-style-type: none;
    margin: 0px;
    padding: 20px 0px;
    /* width: 100%; */
    background-color: #F27329;
    color: black;
    display: inline;
}

/*.general {
    top: 50px;
    left: 500px;
    position: absolute;
    height: 300px;
    width: 120px;
    display: flex;
}*/

.contenido1 {
    text-align: center;
    list-style-type: none;
    position: absolute;
    display: block;
    top: 16vh;
    left: 56.3vw;
    width: 41.50vw;
    height: 60vh;
    box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, .3);
}
.contenido2 {
    text-align: center;
    list-style-type: none;
    position: absolute;
    display: block;
    top: 16vh;
    left: 14.5vw;
    width: 41.50vw;
    height: 60vh;
    box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, .3);
}
.contenido {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    position: absolute;
    display: block;
    top: 0vh;
    left: 14.3vw;
    width: 83.4vw;
    height: 15vh;
    box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, .3);
}
.contenido li h4 {
    float: left;
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
.Otros {
    top: 0;
    position: relative;
    display: inline-block;
    width: 20vw;
}
.Otros ul {
    background-color: #5fa2db;
    /* border-right: solid 1px rgba(0, 0, 0, .3);
    border-bottom: solid s1px rgba(0, 0, 0, .3);*/
    margin-top: 0vh;
    padding-left: 0;
    top: -0.2vh;
    left: -0.5vw;
    position: relative;
    width: 16vw;
    height: 40vw;
}
.Otros ul li {
    padding: none;
    width: 16vw;
    margin: 0px 0px 0px 0px;
    list-style-type: square;
    position: relative;
    display: block;
}
.Otros a {
    text-align: center;
    /* border: solid 1px rgba(0, 0, 0, .3);*/
    color: #000;
    padding: 10px 30px 10px 0px;
    text-decoration: none;
    height: inherit;
    width: inherit;
    display: table-cell;
    background-color: #5fa2db;
    color: black;
}
.Otros a:hover {
    background-color: #F27329;
    color: white;
}

/*
table, td, th {
  border: 1px solid;
}*/

table {
    width: 100%;
    /* table-layout: fixed; */
}
th {
    height: 1vh;
    /*  padding: 20px 15px;*/
    text-align: center;
    font-weight: 500;
    /* font-size: 12px; */
    color: #fff;
    text-transform: uppercase;
    /* border-left: 1px solid white; */
    background-color: #120326;
    /*background-color: rgba(255, 255, 255, 0.3);*/
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}
td {
    height: 0vh;
    /*    padding: 15px;*/
    text-align: center;
    /*   vertical-align: middle;*/
    font-weight: 300;
    /* font-size: 12px; */
    background-color: rgba(255, 255, 255, 0.1);
    background-color: #BBC7D6;
    color: black;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.basicosPedidos {
    width: 20px;
    margin: 2%;
}
.radioInput {
    width: auto;
}
.labelRadioInput {
    display: block;
}
#btnTareas {
    border: 2px solid #120326;
}
.inputDisabled {
    background-color: lightgrey;
    pointer-events: none;
}
.top3 {
    width: 20vw;
    box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, .3);
    top: -135vh;
    position: relative;
    left: 75vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.top3 h3 {
    text-align: center;
    background-color: #9DFF00;
    box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, .3);
}
.carrusel {
    left: 3vw;
    position: relative;
    width: 65vw;
    height: 60vh;
    margin-bottom: 10vh;
    box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 1);
}
.carrusel1 {
    left: 3vw;
    position: relative;
    width: 65vw;
    height: 60vh;
    margin-bottom: 10vh;
    box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 1);
}


