        /* Nav styles   #17c  */
        
        .menu ul {
            position: absolute;
        }
        .menu li {
            display: inline;
            align-content: center;
        }
        .menu li a {
            align-content: center;
            font-family: Arial;
            text-decoration: none;
            float: left;
            padding: 10px;
            background-color: #CC2500;
            color: #fff;
        }
        li a:hover {
            background-color: #B57769;
            margin-top: -2;
            padding-bottom: 12px;
        }
        input {
            position: absolute;
            left: 70vw;
        }
        button {
            position: absolute;
            left: 85vw;
        }
        .titulo {
            position: absolute;
            top: 0vh;
            left: 6vw;
            font-size-adjust: 180px;
        }
        .logo {
            position: absolute;
            top: 0;
            left: 0;
            height: 12vh;
            width: 15vw;
        }
        .head {
            position: absolute;
            top: 0;
            left: 0;
            height: 12vh;
            width: 98.7vw;
            background-color: black;
            background-image: linear-gradient(to bottom left, grey, black);
        }
        .menu {
            width: 98.7vw;
            align-content: center;
            position: absolute;
            top: 9.5vh;
            left: 0;
        }
        .menu ul {
            background-color: #CC2500;
            width: 95.8vw;
            align-content: center;
            position: absolute;
        }
        .menu ul li {
            width: 96vw;
        }
