{% extends "base.html" %}

{% block title %}Restaurante{% endblock %}

{% block header %}

{{ include('header/headerIntroSinBusqueda.html') }}
{{ include('header/headerNav.html') }}
{{ include('header/headerBuscador.html') }}

{% endblock %}

{% block head %}
{{ parent() }}
<meta name="keywords" content="PAW,2018,Templates,PHP">
<link rel="stylesheet" href="/public/css/resultados.css">
<script src="/public/scripts/filtros.js"></script>
{% endblock %}

{% block main %}
<h3>xx Sitios coincidentes con "asdasd" en "Ubicacion"</h3>
<section id="contenedorLateral">
    {{ include('busqueda/filtros.html') }}
</section>
<section id="contenedorResultados">
    {{ include('busqueda/resultados.html') }}
</section>

{% endblock %}