<section class="boton">
    <button class="btnFiltros" onclick="mostrarFiltros()">Filtros</button>
    <p class="triang"></p>
</section>
<section id="filtros">
    <ul>
        <li class="categoria">
            <p class="tituloCategoria">Ordenar por</p>
            <ul>
                <li class="item">Comentarios</li>
                <li class="item">Precio</li>
                <li class="item">Popularidad</li>
            </ul>
        </li>
        <li class="categoria">
            <p class="tituloCategoria">Zona</p>
            <ul>
                <li class="item">Capital</li>
                <li class="item">Microcentro</li>
                <li class="item">GBA Norte</li>
                <li class="item">GBA Oeste</li>
                <li class="item">GBA Sur</li>
                <li class="item"><a href="#">Ver Mas</a></li>
            </ul>
        </li>
        <li class="categoria">
            <p class="tituloCategoria">Caracteristicas</p>
            <ul>
                <li class="item">TV</li>
                <li class="item">WiFi</li>
                <li class="item">Vegano</li>
                <li class="item">Vegetariano</li>
                <li class="item">Terraza</li>
                <li class="item"><a href="#">Ver Mas</a></li>
            </ul>
        </li>
        <li class="categoria precio">
            <p class="tituloCategoria">Precio</p>
            <form action="/" method="get">
                <input type="number" name="min" id="min" placeholder="Minimo" class="inputMM">
                <p class="guion">-</p>
                <input type="number" name="max" id="max" placeholder="Maximo" class="inputMM">
                <button type="submit">></button>
            </form>
        </li>
    </ul>
</section>