<section id="resultados">
    <ul>
        <li class="itemResultado">
            <a href="/restaurante?id=1"><img src="/public/res/restaurant.jpg" alt=""></a>
            <section class="info_1">
                <p class="nombre">Toy Panda</p>
                <p class="ubicacion">Lope de Vega 9</p>
                <p class="estrellas">&#9733;&#9733;&#9733;&#9733;</p>
            </section>
            <section class="info_2">
                <p class="distancia">10Km</p>
                <p class="precioMedio">$400</p>
                <p class="cantidadComentarios">20</p>
            </section>
        </li>
        <li class="itemResultado">
            <a href="/restaurante?id=1"><img src="/public/res/restaurant.jpg" alt=""></a>
            <section class="info_1">
                <p class="nombre">La Bistroteca</p>
                <p class="ubicacion">de Ponzano, 85</p>
                <p class="estrellas">&#9733;&#9733;&#9733;</p>
            </section>
            <section class="info_2">
                <p class="distancia">20Km</p>
                <p class="precioMedio">$500</p>
                <p class="cantidadComentarios">40</p>
            </section>
        </li>
        <li class="itemResultado">
            <a href="/restaurante?id=1"><img src="/public/res/restaurant.jpg" alt=""></a>
            <section class="info_1">
                <p class="nombre">La Rollerie</p>
                <p class="ubicacion">Raimundo Fernandez Villaverde, 28</p>
                <p class="estrellas">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
            </section>
            <section class="info_2">
                <p class="distancia">15Km</p>
                <p class="precioMedio">$450</p>
                <p class="cantidadComentarios">25</p>
            </section>
        </li>
        <li class="itemResultado">
            <a href="/restaurante?id=1"><img src="/public/res/restaurant.jpg" alt=""></a>
            <section class="info_1">
                <p class="nombre">Pastelería La Oriental</p>
                <p class="ubicacion">San Blas 4</p>
                <p class="estrellas">&#9733;&#9733;</p>
            </section>
            <section class="info_2">
                <p class="distancia">40Km</p>
                <p class="precioMedio">$550</p>
                <p class="cantidadComentarios">50</p>
            </section>
        </li>
        <li class="itemResultado">
            <a href="/restaurante?id=1"><img src="/public/res/restaurant.jpg" alt=""></a>
            <section class="info_1">
                <p class="nombre">Marisquería Cervecería el Cantábrico</p>
                <p class="ubicacion">Marqués de Villamagna, 1</p>
                <p class="estrellas">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
            </section>
            <section class="info_2">
                <p class="distancia">5Km</p>
                <p class="precioMedio">$700</p>
                <p class="cantidadComentarios">60</p>
            </section>
        </li>
        <li class="itemResultado">
            <a href="/restaurante?id=1"><img src="/public/res/restaurant.jpg" alt=""></a>
            <section class="info_1">
                <p class="nombre">Lolatoys</p>
                <p class="ubicacion">Regueros,8</p>
                <p class="estrellas">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
            </section>
            <section class="info_2">
                <p class="distancia">60Km</p>
                <p class="precioMedio">$350</p>
                <p class="cantidadComentarios">5</p>
            </section>
        </li>
    
     
        
    </ul>

</section>