{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block header %}

{{ include('header/headerIntroSinIngreso.html') }}
{{ include('header/headerNav.html') }}
{{ include('header/headerBuscador.html') }}

{% endblock %}

{% block head %}
{{ parent() }}

<link rel="stylesheet" href="/public/css/form.css"> {% endblock %} {% block main %}

<div class="formlog">
   
    

    {% if datos.error == true %}
    
        <p>Error, Usuario o Contraseña invalidos</p>
    
    {% endif %}
    <form action="/login/validar" method="POST" class="login-container">
        <p>
            <label class="name" for="mail"></label>
            <img src="/public/res/userlog.png" class="logouser">
            <input type="text" placeholder="Usuario" name="mail" class="campo">
        </p>
        <p>
            <label class="name" for="contraseña"></label>
            <img src="/public/res/contrasena.png" class="logouser">
            <input type="password" placeholder="Contraseña" name="password"  class="campo">
        </p>
        <p>
            <input type="submit" value="Ingresar" class="boton">
            <input type="button" value="Crear Cuenta" class="boton">
        </p>
    </form>
</div>
{% endblock %}