body {
    background: cadetblue;
}

/*headerIntro*/
.headerIntro,
.headerNav,
.headerBuscador {
    text-align: center;
    border: 1px solid black;

}
.headerIntro{
    position: absolute;
    top: 0;
    left: 0;
    height: 10vh;
    width: 99.7%;
    background-color: black;
    background-image: linear-gradient(to bottom left, grey, black);
}

.headerIntroBuscador{
position: relative;
right: 0%;
}

.headerIntroBuscador form{
    width: 2%;
    position: relative;
    left:100%;
}

#botonBusca{
    position: relative;
    left:100%;
}


#busca{
    position: relative;
    left:110%;
    }

#logoPagina {
    position: absolute;
    top: 0;
    left: 0;
    height: 10vh;
    width: 16vw;
}

.login {
    width: 4vmax;
    position: relative;
    top:0%;
    left:1100%;
    height: auto;
}

#login{
    color: white;
}

.logoRedesSociales {
    position: relative;
    margin: 0%;
    width: 2vmax;
    height: auto;
}

h1 {
    display: inline;
    margin: 0 10vmax;
    font-size: 2vw;
}


/*headerNav*/
nav {
    text-align: center;
}

ul,
li {
    list-style: none;
}

li {
    display: inline-block;
    padding: 0 3vmax;
   
}

/*headerBuscador*/
 #inputBuscador {
    width: 30%;
}
.headerNav{
    position: relative;
    top:4%;
    background-color: #CC2500;
}

.headerNav ul {
    background-color: #CC2500;
    
}
.headerNav li {
    display: inline;
    align-content: center;
}
.headerNav li a {
    align-content: center;
    font-family: Arial;
    text-decoration: none;
    float: left;
    padding: 10px;
    background-color: #CC2500;
    color: #fff;
}
.headerNav li a:hover {
    background-color: #B57769;
    margin-top: -2;
    padding-bottom: 12px;
}