#carrouselDestacados,
#topRestaurantes,
#topPlatos {
    
    display: inline-block;
    border: 1px solid aqua;
}

/*tarjetas top 3*/
ul {
    padding: 0%;
    margin: 0%;
    display: inline-block;
}

#topRestaurantes,
#topPlatos  {
    width: 30vw;
    height: 35%;
    box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, .3);
    top: -188vh;
    position: relative;
    left: 66vw;
    margin-left: 2%;
    margin-top: 0vh;
    margin-bottom: 0vh;
display:block;

}

#topRestaurantes,
#topPlatos,  h2 {
    text-align: center;
    background-color: #9DFF00;
    background-color: bisque;
    box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, .3);
   
}

.fotoRestaurant,
.fotoPlato {
    width: 15vmax;
    height: auto;
}

.tarjetaTopRestaurant,
.tarjetaTopPlato {
    display: block;
    box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, .3);
    margin-bottom: 0.5%;
    margin-top: 0.5%;
}

.titulos {
    display: inline-block;
    margin: 0;
}

h2 {
    border: 1px solid rgb(0, 68, 11);
    font-size: 1.5vw;
}

h3 {
    font-size: 1.2vw;
}

h4 {
    font-size: 1vw;
}

h2,
h3,
h4 {
    margin: 0;
}


/*main destacados*/

#carrouselDestacados {
    position: relative;
    margin: 0 1vw;
    top:-50%;
    height: 20%;
    text-align: center;
    border: 1px solid aqua;
    background-color: bisque;
}

.fotoDestacados {
    width: 60vmax;
    height: auto;
}

li.inactivo {
    display: none;
}

li.activo {
    transition: all 1s;
}

li.derecha {
    animation-duration: 1s;
    animation-name: derecha;
}

li.izquierda {
    animation-duration: 1s;
    animation-name: izquierda;
}

.prev,
.next {
    position: absolute;
    top: 38%;
    margin: 0;
    padding: 1vw;
    color: black;
    font-size: 2vw;
    cursor: pointer;
}

.prev {
    left: 0%;
}

.next {
    right: 0%;
}

.prev:hover,
.next:hover {
    background-color: rgba(191, 22, 22, 0.8);
    transition: all 0.3s;
}

@keyframes derecha {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes izquierda {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#filtros{
    width: 30%;
    height: 80%;
    box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, .3);
    top:22%;
    position: absolute;
    left: 64vw;
    margin-left: 2%;
    margin-top: 0vh;
    margin-bottom: 0vh;

    

}



#busquedaResto {
    
    width: 70%;
    position: relative;
    top:0%;

    position: relative;
    margin: 0 1vw;
    top:-50%;
    height: 20%;
    text-align: center;
}


.tarjetabusqueda h4{
 position: relative;
 top:0;
 width: 2%;
}

.tarjetabusqueda{
    margin-top:2%;
    margin-right:2%;
    background-color: bisque;
  width: 20%;
    float: left;
    display: block;
    box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, .3);
 
}


.tarjetabusqueda img{
    margin-top:4%;
    width: 15vmax;
    height: auto;
}


.filtro{
    width:100%
}
.titulosR {
    display: inline-block;
    margin: 0;
    position: relative;
    top:-5%;
}