<section id="comentarios">
    <ul>
        <li class="contenedorComentario">
            <section class="cabeceraComentario">
                <p class="diaHora">Dia y Hora</p>
                <p class="numeroComentario">#1</p>
            </section>
            <section class="detalleComentario">
                <section class="infoUsuario">
                    <img src="/public/res/logoUser.png" alt="logoUser" class="imgUser">
                    <h3 class="h3coment">Usuario 1</h3>
                    <dl class="califComent">
                        <dt>Rapidez</dt>
                        <dd>&#9733;&#9733;</dd>
                        <dt>Presentacion</dt>
                        <dd>&#9733;&#9733;</dd>
                        <dt>Precio</dt>
                        <dd>&#9733;&#9733;&#9733;&#9733;</dd>
                    </dl>
                </section>
                <section class="contenidoComentario">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae minima, quos maxime alias
                        necessitatibus
                        saepe corrupti at laborum ut commodi repellat asperiores accusantium rerum repellendus eligendi
                        magnam!
                        Aut,
                        corporis velit?Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae minima, quos
                        maxime alias
                        necessitatibus
                        saepe corrupti at laborum ut commodi repellat asperiores accusantium rerum repellendus eligendi
                        magnam!
                        Aut,
                        corporis velit?</p>
                </section>
            </section>
        </li>
        <li class="contenedorComentario">
            <section class="cabeceraComentario">
                <p class="diaHora">Dia y Hora</p>
                <p class="numeroComentario">#2</p>
            </section>
            <section class="detalleComentario">
                <section class="infoUsuario">
                    <img src="/public/res/logoUser.png" alt="logoUser" class="imgUser">
                    <h3 class="h3coment">Usuario 2</h3>
                    <dl class="califComent">
                        <dt>Rapidez</dt>
                        <dd>&#9733;&#9733;</dd>
                        <dt>Presentacion</dt>
                        <dd>&#9733;&#9733;</dd>
                        <dt>Precio</dt>
                        <dd>&#9733;&#9733;&#9733;&#9733;</dd>
                    </dl>
                </section>
                <section class="contenidoComentario">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae minima, quos maxime alias
                        necessitatibus saepe corrupti at laborum ut commodi repellat asperiores accusantium rerum
                        repellendus eligendi
                        magnam! Aut, corporis velit?</p>
                </section>
            </section>
        </li>
    </ul>
    <section class="contenedorComentario" id="contenidoEnviarComentario">
        <section class="cabeceraComentario">
            <p class="escribirComent">Escribir un Comentario</p>
        </section>
        <section class="contenidoEscribirComentario">
            <form action="" method="get">
                <section class="puntaje">
                    <dl class="califUsuario">
                        <dt>Rapidez</dt>
                        <dd class="clasificacion">
                            <input id="Rapidez1" type="radio" name="estrellasRapidez" value="5" required>
                            <label for="Rapidez1">&#9733;</label>
                            <input id="Rapidez2" type="radio" name="estrellasRapidez" value="4" required>
                            <label for="Rapidez2">&#9733;</label>
                            <input id="Rapidez3" type="radio" name="estrellasRapidez" value="3" required>
                            <label for="Rapidez3">&#9733;</label>
                            <input id="Rapidez4" type="radio" name="estrellasRapidez" value="2" required>
                            <label for="Rapidez4">&#9733;</label>
                            <input id="Rapidez5" type="radio" name="estrellasRapidez" value="1" required>
                            <label for="Rapidez5">&#9733;</label>
                        </dd>
                        <dt>Presentacion</dt>
                        <dd class="clasificacion">
                            <input id="Presentacion1" type="radio" name="estrellasPresentacion" value="5" required>
                            <label for="Presentacion1">&#9733;</label>
                            <input id="Presentacion2" type="radio" name="estrellasPresentacion" value="4" required>
                            <label for="Presentacion2">&#9733;</label>
                            <input id="Presentacion3" type="radio" name="estrellasPresentacion" value="3" required>
                            <label for="Presentacion3">&#9733;</label>
                            <input id="Presentacion4" type="radio" name="estrellasPresentacion" value="2" required>
                            <label for="Presentacion4">&#9733;</label>
                            <input id="Presentacion5" type="radio" name="estrellasPresentacion" value="1" required>
                            <label for="Presentacion5">&#9733;</label>
                        </dd>
                        <dt>Precio</dt>
                        <dd class="clasificacion">
                            <input id="precio1" type="radio" name="estrellasPrecio" value="5" required>
                            <label for="precio1">&#9733;</label>
                            <input id="precio2" type="radio" name="estrellasPrecio" value="4" required>
                            <label for="precio2">&#9733;</label>
                            <input id="precio3" type="radio" name="estrellasPrecio" value="3" required>
                            <label for="precio3">&#9733;</label>
                            <input id="precio4" type="radio" name="estrellasPrecio" value="2" required>
                            <label for="precio4">&#9733;</label>
                            <input id="precio5" type="radio" name="estrellasPrecio" value="1" required>
                            <label for="precio5">&#9733;</label>
                        </dd>
                    </dl>
                </section>
                <textarea name="comentarioEscrito" id="comentarioEscrito" rows="5" placeholder="Escriba un comentario"
                    required></textarea>
                <section class="botones">
                    <input type="submit" value="Enviar" class="botonEnviar">
                </section>
            </form>
        </section>
    </section>