<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <title>Foodie - {% block title %}{% endblock %} </title>
    <link rel="shortcut icon" href="/public/res/favicon.jpg" />
    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/css/all.css">
    <link rel="stylesheet" href="/public/css/hfnm.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap"
        rel="stylesheet">
    <script src="/public/scripts/hfnm.js"></script>

    {% endblock %}
</head>

<body>
    {{ include('hfnm/header.html') }}
    {{ include('hfnm/nav.html') }}
    {% block main %}{% endblock %}
    {{include ('hfnm/footer.html')}}
    {{include ('hfnm/modal.html')}}
</body>

</html>