
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block header %}

<section class="headerIntro2">
    <ul>
        <li ><img src="/public/res/logo.png"
            alt="logo " class="logo"></li>
    
        <li>
            <a href="/">  <h1 class="titulo">FOODIE </h1></a>
        </li>
        
          
    </ul>
</section>



{% endblock %}

{% block head %}
{{ parent() }}
<meta name="keywords" content="PAW,2018,Templates,PHP">
<link rel="stylesheet" href="/public/css/error.css">

{% endblock %}

{% block main %}
<div class="wrapper">
    <div class="box">
        <h2> :( </h2>
    <h1> 500 Server Error </h1>
    <p> Algo salio mal de nuestra parte</p>
    
  
    </div>
    </div>
{% endblock %}

{% block footer %}


      
        
    {% endblock %}
