{% extends "base.html" %}
{% block head %}
{{ parent() }}
<link rel="stylesheet" href="/public/css/index.css">
<script src="/public/scripts/carrouselesCards.js"></script>
{% endblock %}
{% block title %}Home{% endblock %}
{% block main %}
<main>
    <section class="container">
        <section id="mainFiltrosPopulares">
            <ul>
                <li><a href="">Desayunos</a></li>
                <li><a href="">Almuerzos</a></li>
                <li><a href="">Cenas</a></li>
                <li><a href="">Cafe</a></li>
                <li><a href="">Helados</a></li>
                <li><a href="">Cumpleaños</a></li>
                <li><a href="">Celiacos</a></li>
                <li><a href="">Discapacitados</a></li>
            </ul>
        </section>
        <section id="mainSeccionesSliders">
            {% for i in 0..4 %}
            <section>
                <div class="tituloContainerCards">
                    <img src="/public/svgs/solid/crown.svg" alt="">
                    <h2>¡Los mas Populares!</h2>
                    <a href="/restaurantes?populares=1">Ver Todos</a>
                </div>
                <ul class="containerCards">
                    {% for j in 0..5 %}
                    <li class="card">
                        <div class="containerSlider">
                            <span class="sliderLeft"><img src="/public/svgs/solid/angle-left.svg" alt=""></span>
                            <a href="/restaurantes?nombre=resto{{ j }}">
                                <ul>
                                    <li class="activo"><img src="/public/res/fotosRest/foto1.jpg" alt=""></li>
                                    <li><img src="/public/res/fotosRest/foto2.jpg" alt=""></li>
                                    <li><img src="/public/res/fotosRest/foto3.jpg" alt=""></li>
                                    <li><img src="/public/res/fotosRest/foto4.jpg" alt=""></li>
                                    <li><img src="/public/res/fotosRest/foto5.jpg" alt=""></li>
                                </ul>
                            </a>
                            <span class="sliderRight"><img src="/public/svgs/solid/angle-right.svg" alt=""></span>
                        </div>
                        <div class="cardFooter">
                            <h4><a href="">Restaurante Pepito &nbsp; {{ j }}</a></h4>
                            <div class="cardCalificacion">
                                <div>
                                    <span class="starCalif"><img src="/public/svgs/solid/star.svg" alt=""></span>
                                    <span class="starCalif"><img src="/public/svgs/solid/star.svg" alt=""></span>
                                    <span class="starCalif"><img src="/public/svgs/solid/star.svg" alt=""></span>
                                    <span class="starCalif"><img src="/public/svgs/solid/star.svg" alt=""></span>
                                    <span class="starCalif"><img src="/public/svgs/solid/star-half-alt.svg"
                                            alt=""></span>
                                </div>
                                <div>
                                    <small>Sobre 128 Opiniones</small>
                                </div>
                            </div>
                            <div class="cardInfo">
                                <ul>
                                    <li>
                                        <img src="/public/svgs/solid/map-marker-alt.svg" alt="">
                                        <p>Springfield - Calle Falsa 123</p>
                                    </li>
                                    <li>
                                        <img src="/public/svgs/solid/clock.svg" alt="">
                                        <p>Lun-Dom - 10hs-23hs</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </section>
            {% endfor %}
        </section>
    </section>
</main>
{% endblock %}