* {
    font-family: 'Roboto Slab', serif !important; 
    /*font-family: 'Lobster', cursive; -> TITULO*/
    /*font-family: 'Roboto Slab', serif; -> SERIF*/
    /*font-family: 'Roboto Condensed', sans-serif; -> SANS-SERIF*/
}

html{
    scroll-behavior: smooth;
}

main{
    background: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)), url("/public/res/background/fondo3.jpg");
    background-attachment: fixed;
}

a{
    text-decoration: none;
    color: inherit;
}

body.menuOpen{
    overflow: hidden;
}

main {
    margin: 45px 0 0;
}

main .container{
    padding: 10px 0 10px;
    text-align: left;
}

.no-pointer{
    cursor: default !important;
}

/*sm*/
@media screen and (min-width: 576px) {
    main{
        margin-top: 0;
    }
}

/*md*/
@media screen and (min-width: 768px) {

    main .container{
        margin: 0 5%;
        height: 100%;
    }
}

/*lg and xl*/
@media screen and (min-width: 992px) {
    main .container{
        height: 100%;
    }
}