.wrapper{
    height: 90%;
    width: 90%;
    padding: 25% 5%  25% 5% ;
}


.wrapper p{
    text-align: center;

}

.wrapper h1{
  font-size: 800%;
    position: absolute;
    text-align: center;
    top: 20%;
    left: 0%;
    padding-left: 4%;
}


.wrapper h2{
    font-size: 800%;
      
  }