.container {
    padding: 5px 12px;
    text-align: center;
}

header,
nav,
footer {
    background-color: #cecece;
    background-image: linear-gradient(180deg, rgb(0 0 0 / 60%) 0%, rgb(0 0 0 / 50%) 100%);
}

nav {
    background-image: linear-gradient(180deg, rgb(0 0 0 / 50%) 0%, rgb(0 0 0 / 80%) 100%);
}

button,
input {
    outline: none;
}

/* HEADER */
header {
    top: 0;
    transition: top 0.3s;
    position: fixed;
    z-index: 500;
    width: 100%;
}

header #headerPrincipalSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

header.hide {
    top: -58px;
}

#sanguche {
    cursor: pointer;
}

header img {
    width: 35px;
}

header #sanguche img {
    width: 25px;
}

header #headerSearch img,
#headerBuscarSection button[type=submit] img {
    width: 25px;
}

#headerTituloLogo a {
    display: flex;
    align-items: center;
}

#headerTituloLogo h1 {
    font-family: 'Lobster', cursive !important;
    font-size: 1.5rem;
}

header #headerSearch {
    cursor: pointer;
}

#headerBuscarSection {
    width: 100%;
    position: fixed;
    right: -100%;
    top: 5px;
    display: inline-block;
    transition: right 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

#headerBuscarSection.activo {
    right: 0;
    padding: inherit;
    background: inherit;
    box-sizing: border-box;
    background-image: linear-gradient(180deg, rgb(0 0 0 / 60%) 0%, rgb(0 0 0 / 50%) 100%), url(/public/res/background/fondo2.jpeg)
}

#headerBuscarSection input[type=text] {
    text-align: center;
    border: none;
    background: inherit;
    border-bottom: 1px solid black;
    font-size: 1rem;
    padding: 0 5%;
}

#headerBuscarSection input[type=text]::placeholder {
    color: black;
}

#headerBuscarSection form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#headerBuscarSection button {
    border: 0;
    padding: 0;
    background: none;
    cursor: pointer;
}

#headerBuscarSection #searchBack img {
    width: 15px;
}

header .botones {
    display: none;
    width: auto;
}

.ulRedes {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

nav ul img,
#redesSociales img {
    width: 25px;
    height: 25px;
}

#ulSecciones li a {
    display: block;
    padding: 10px 0;
    color: #ffffffd9;
}

/* NAV */

nav {
    height: 100%;
    width: 280px;
    max-width: calc(100vw - 80px);
    position: fixed;
    z-index: 1000;
    top: 0;
    left: -280px;
    transition: left 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

nav .container {
    height: inherit;
    box-sizing: border-box;
}

.closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.closeBtn img {
    width: 20px;
}

nav.activo {
    left: 0;
}

.botonesUsuario button {
    width: 100px;
}

.botones {
    background-color: black;
    cursor: pointer;
    padding: 7px 10px;
    text-align: center;
    transition: 0.5s;
    color: white;
    border-radius: 30px;
    border-width: inherit;
    font-size: 0.9rem;
    font-weight: 500;
    display: inline-block;
}

.botones:hover {
    background-color: #000000cc;
    transform: scale(1.05);
}


nav #ulSecciones,
nav .botonesUsuario {
    margin: 30px 15px;
}

#ulSecciones li:not(:last-child) {
    border-bottom: 1px solid black;
}

#ulSecciones li:hover {
    background-color: #405849;
    transition: all 0.3s
}

footer {
    width: 100%;
}

footer .container section {
    padding: 10px 5px;
    margin: 5px;
}

footer h3 {
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #fff;
}

footer .container section:not(:last-child) {
    border-bottom: 1px solid #dcdcdc;
}

footer .container section:last-child {
    margin-bottom: 0;
}

#contactanos li {
    margin: 10px 0;
}

#contactanos li:last-child {
    margin-bottom: 0;
}

#contactanos img {
    width: 10px;
    margin-right: 4px;
}

footer form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer form input {
    width: 38%;
    height: 40px;
    margin-right: 5px;
    box-shadow: inset 0 0 1px 1px #163a14;
}

footer form input:not(:last-child) {
    padding-left: 5px;
}

#newsBtnSubmit {
    width: 35px;
    height: 45px;
    margin-left: -8px;
}

#newsBtnSubmit img {
    width: 10px;
}

#goToCielo {
    background-color: darkorange;
    padding: 7px 12px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

#goToCielo img {
    width: 15px;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 10000;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal.activo {
    display: block;
}

.modal .container {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
    max-width: 450px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal .modalBody {
    border: 2px solid lightgrey;
    padding: 10px;
    margin: 15px 0 0;
}

.modal button {
    padding: 10px;
    border: none;
    background: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.modal button:hover {
    background-color: #57755e2b;
}

.modal button.activo {
    border-bottom: 3px solid darkgrey;
}


.modal .formLogin div {
    margin: 5px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .formLogin div label {
    text-align: right;
    margin-right: 10px;
    width: 100px;
    font-size: 0.9rem;
}

.modal .formLogin div label::after {
    content: '*';
    color: red;
}

.modal .formLogin div input {
    border-radius: 12px;
    border: 2px solid #e0e0e0;
    padding: 4px 4px 4px 10px;
    min-width: 0;
    max-width: 170px;
}

.modal .formLogin input[type=submit] {
    margin-top: 10px;
}

#containerForms {
    position: relative;
    height: 180px;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 15px 0;
}

#containerForms>section {
    position: absolute;
    width: 100%;
    transition: all 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99);
    left: 0;
}

#containerForms>section:last-child {
    left: 100%;
}

#containerForms #sectionFormIngresar.slideIngresar {
    left: 0;
}

#containerForms #sectionFormRegistrarse.slideIngresar {
    left: 100%;
}

#containerForms #sectionFormIngresar.slideRegistrate {
    left: -100%;
}

#containerForms #sectionFormRegistrarse.slideRegistrate {
    left: 0;
}



/*sm*/
@media screen and (min-width: 576px) {

    header,
    nav {
        position: unset;
    }

    header .botones {
        display: inline-block;
    }

    header .container,
    nav .container {
        box-shadow: none;
    }

    header .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }



    #sanguche,
    header #headerSearch,
    #headerBuscarSection #searchBack {
        display: none;
    }

    #headerBuscarSection {
        width: unset;
        position: unset;
        right: 0;
        flex: 1;
        margin: 0 25px;
        min-width: 0;
    }

    #headerBuscarSection form {
        flex-direction: row-reverse;
        border: 2px solid black;
        border-radius: 8px;
        padding: 2px 12px;
        max-width: 400px;
        justify-content: flex-end;
        background-color: white;
    }

    #headerBuscarSection button[type=submit] img {
        width: 15px;
    }

    #headerBuscarSection input[type=text] {
        text-align: left;
        margin-left: 10px;
        padding: 0;
        border: 0;
        min-width: 0;
        height: 30px;
        width: 100%;
    }

    #headerBuscarSection input[type=text]::placeholder {
        color: rgb(83, 83, 83);
    }

    nav {
        display: block;
        position: unset;
        height: auto;
        width: auto;
        max-width: unset;
        top: 0;
        left: 0;
        transition: none;
        background-image: none;
        background-color: #2A2A2A;
    }

    nav ul {
        box-shadow: unset;
        background-color: unset;
    }

    nav #ulSecciones {
        margin: 0;
        color: white;
    }

    nav .container {
        padding: 0 12px;
    }

    nav .closeBtn,
    nav .ulRedes,
    nav .botonesUsuario {
        display: none;
    }

    #ulSecciones {
        display: flex;
        margin: 0;
        justify-content: center;
    }

    #ulSecciones li:not(:last-child) {
        border-bottom: none;
    }

    #ulSecciones li a {
        padding: 10px;
    }



    footer .container {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "area1 area2"
            "area3 area2";
        align-items: center;
        grid-gap: 0 20px;
    }

    footer section {
        margin: 0;
    }

    #newsLetter {
        grid-area: area1;
        border-bottom: 1px solid #163a14;
    }

    #redesSociales {
        grid-area: area3;
        border-bottom: none;
    }

    #contactanos {
        grid-area: area2;
        border-left: 1px solid #163a14;
    }




}


/*md*/
@media screen and (min-width: 768px) {

    header {
        height: 90px;
    }

    header .container {
        box-sizing: border-box;
        height: 100%;
    }

    #headerTituloLogo img {
        width: 50px;
    }

    #headerTituloLogo h1 {
        font-size: 1.7rem;
    }

    .container {
        padding: 10px 10%;
    }

    footer .container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        grid-gap: 0;
    }

    footer .container section {
        width: 25%;
        max-width: 300px;
    }

    footer form #newsBtnSubmit {
        width: auto;
    }

    footer section {
        border: none !important;
    }
}

/*lg and xl*/
@media screen and (min-width: 992px) {

    #headerBuscarSection {
        margin-left: 50px;
    }

}