main #mainFiltrosPopulares{
    margin: 20px 10px;
}

main #mainFiltrosPopulares ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

main #mainFiltrosPopulares li{
    flex: 1 1 100px;
    margin: 5px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 50%);
    border-radius: 5px;
    text-align: center;
    transition: all 0.2s ease-in-out;   
    font-size: 0.8rem; 
    background-color: white;
}

main #mainFiltrosPopulares li a{
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;    
}

main #mainFiltrosPopulares li:hover{
    box-shadow: 0px 3px 9px rgba(0,0,0,0.3);
}

main .container #mainSeccionesSliders section{
    padding: 10px 5px 5px;
    box-shadow: 0 0 0.675rem 0.075rem rgba(0,0,0,.2);
    background-color: #ffffffd4;
}
main .container #mainSeccionesSliders section:not(:last-child){
    margin-bottom: 30px;
}

main .container h2{
    margin-left: 5px;
    font-size: 1.1rem;
    font-weight: 500;
}

.tituloContainerCards{
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-bottom: 5px;
}

.tituloContainerCards h2{
    flex: 1;
}

.tituloContainerCards a{
    color: grey;
}

.tituloContainerCards img{
    width: 20px;
}

.containerCards {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: all 0.2s;
    position: relative;
    transition: .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    color: #2c2c2c;
  }

.card{
    height: 250px;
    min-width: 270px;
    width: 30vw;
    padding: 5px;
    margin: 5px;
    user-select: none;
    display: flex;
    flex-direction: column;
}

.card:hover{
    box-shadow: 0px 0px 2px 0px black;
}

.card:first-child{
    margin-left: 1px;
}

.card .containerSlider img{
    width: 100%;
    height: auto;
    transition: all 0.2s linear;
}

.card .containerSlider img:hover{
    transform: scale(1.1);
}

.card .containerSlider li{
    width: 100%;
    display: none;
}

.card li.activo{
    display: block;
}

.card .containerSlider{
    position: relative;
    display: flex;
    height: 70%;
    align-items: center;
    overflow: hidden;
    margin-bottom: 5px;
}

.card .sliderLeft img, .card .sliderRight img{
    width: 10px;
    filter: invert(100%) sepia(0%) saturate(18%) hue-rotate(32deg) brightness(104%) contrast(100%);
}

.card .sliderLeft, .card .sliderRight{
    padding: 7px 12px;
    border-radius: 3px 0 0 3px;
    cursor: pointer;
    position: absolute;
    top: 40%;
    z-index: 2;
    user-select: none;
}

.card .sliderLeft{
    left: 0;
}

.card .sliderRight{
    right: 0;
}

.card .sliderLeft:hover, .card .sliderRight:hover {
    background-color: rgba(0,0,0,0.8);
}

.cardFooter{
    margin-top: 5px;
}

.cardFooter h4{
    font-size: 1.2rem;
    color: brown;
    font-weight: 500;
}

.cardFooter .cardCalificacion{
    display: flex;
}

.cardFooter .starCalif img{
    width: 13px;
}

.card .cardCalificacion small{
    font-size: 0.7rem;
}

.cardCalificacion > :last-child{
    margin-left: 5px;
}

.cardInfo{
    margin-top: 5px;
}

.cardInfo img{
    width: 10px;
}

.cardInfo li{
    display: flex;
    margin: 3px 0;
}

.cardInfo p{
    margin-left: 5px;
    font-size: 0.8rem;
}


/*sm*/
@media screen and (min-width: 576px) {
    main #mainFiltrosPopulares{
        margin: 20px 10%;
    }

}


/*md*/
@media screen and (min-width: 768px) {

    main #mainFiltrosPopulares li{
        flex: 1 1 150px;
    }

    main .card{
        min-width: 350px;
        height: 340px;
        margin-top: 1px;
    }

    main .container #mainSeccionesSliders section{
        box-shadow: none;
        border-radius: 10px;
        padding: 10px;
    }


}

/*lg and xl*/
@media screen and (min-width: 992px) {
    main #mainFiltrosPopulares ul{
        flex-wrap: nowrap;
    }
}
