a {
    text-decoration: none;
}

p {
    display: inline-block;
}

#contenedorSuperior {
    width: 100%;
}

#carrouselPlato {
    display: inline-block;
    width: 400px;
    height: 300px;
    margin: 1%;
    position: relative;
    /* float: left; */
}

#carrouselPlatoVarios {
    display: none;
}

#infoBasica,
#combinadoCon {
    display: inline-block;
    text-align: center;
    margin: 1%;
    width: calc((100% - 400px - 6%) / 2);
    height: 300px;
    box-shadow: 2px 2px 5px 0px black;
    border-radius: 3%;
    background-image: linear-gradient(to bottom, #ffffff52, #fcfbff);
    float: right;
}

.tituloTarjeta {
    font-size: 1.5vw;
    color: #b70000;
    border-radius: 20% 20% 0 0;
    letter-spacing: 4px;
    font-family: 'Bookman Old Style', arial;
    margin: 1% 0;
    display: block;
    height: 8%;
}

.imagenCaracteristicas {
    width: auto;
    height: 100%;
    margin: 0px 2%;
}

#tagsPlato>p {
    text-align: left;
    color: red;
    font-weight: bold;
    display: block;
}


li.inactivo {
    display: none;
}

.fotoPlato {
    width: 100%;
    height: 100%;
    /* margin: 1px; */
    object-fit: cover;
}

#listaFotos {
    height: 300px;
    /* margin: auto; */
    width: 400px;
}

.prev,
.next {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 4%;
    color: black;
    font-size: 150%;
    cursor: pointer;
    position: absolute;
    top: calc(100% - 50% - 2% - 24px);
}

.next {
    right: 0;
}

.prev:hover,
.next:hover {
    background-color: rgba(191, 22, 22, 0.8);
    transition: all 0.2s;
}

li.liCarrouselFotos.activo {
    /* float: left; */
    width: 100%;
    height: 100%;
    margin: 0;
}

p.parrafoDescripcion {
    margin: 0 2%;
    text-align: left;
    display: block;
    height: 25%;
}

section#tagsPlato {
    margin: 0 2%;
    height: 14;
}

#tagsPlato>a {
    margin: 0 1%;
}

section#caracteristicas {
    margin: 0 2%;
    height: 48%;
    width: 96%;
}

#caracteristicas>p {
    display: block;
    height: 50%;
    width: 100%;
}

#listaDondeEncontrarlo>ul>li>p {
    display: block;
}

#listaDondeEncontrarlo>ul>li {
    display: block;
    margin: 0;
    padding: 1% 2%;
    border-bottom: 1px solid;
}

#listaDondeEncontrarlo>ul>li:hover {
    cursor: pointer;
    background: linear-gradient(270deg, rgb(0, 0, 0) -130%, rgba(255, 255, 255, 0) 100%);
}

section#contenedorMedio {
    width: 100%;
}

section#listaDondeEncontrarlo {
    height: 300px;
    display: inline-block;
    width: 20%;
    float: left;
    overflow: overlay;
    margin: 0.5% 1%;
    box-shadow: 2px 2px 5px 0px black;
    background-image: linear-gradient(to bottom, #ffffff52, #fcfbff);
    min-width: 150px;
}

#mapaDondeEncontrarlo {
    height: 300px;
    display: inline-block;
    width: 76%;
    margin: 0.5% 1%;
}

iframe.mapa {
    width: 100%;
    height: 100%;
}

.precio {
    color: green;
}

@media only screen and (max-width: 1500px) {

    #carrouselPlato {
        display: none;
    }

    #carrouselPlatoVarios {
        display: block;
        width: 98%;
        height: 300px;
        margin: 1%;
        position: relative;
        padding-top: 1%;
    }

    li.inactivoVarios {
        display: none;
    }

    .fotoPlatoVarios {
        width: 100%;
        height: 100%;
        /* margin: 1px; */
        object-fit: cover;
    }

    .primerFotoVarios {
        width: 100%;
        max-height: 300px;
    }

    #listaVariosFotosVarios {
        height: 300px;
        margin: auto;
        width: 100%;
    }

    .prevVarios,
    .nextVarios {
        background-color: rgba(255, 255, 255, 0.75);
        padding: 2%;
        color: black;
        font-size: 150%;
        cursor: pointer;
        position: absolute;
        top: calc(100% - 50% - 2% - 24px);
    }

    .nextVarios {
        right: 0;
    }

    .prevVarios:hover,
    .nextVarios:hover {
        background-color: rgba(191, 22, 22, 0.8);
        transition: all 0.2s;
    }

    li.liCarrouselFotosVarios.activoVarios {
        float: left;
        width: calc(50% / 3);
        height: 50%;
        margin: 0;
    }

    li.liCarrouselFotosVarios.liPrimerFotoVarios.activoVarios {
        width: 50%;
        height: 100%;
        max-height: 300px;
        margin: 0;
    }

    #infoBasica,
    #combinadoCon {
        width: 48%;
        margin: 1%;
    }
}

@media only screen and (max-width: 1020px) {
    main {
        width: 100%;
        margin: 0;
    }

    .tituloTarjeta {
        font-size: 2.5vh;
    }

}

@media only screen and (max-width: 800px) {

    #infoBasica,
    #combinadoCon {
        width: 98%;
    }
}

@media only screen and (max-width: 766px) {

    #mapaDondeEncontrarlo {
        width: calc(96% - 150px);
    }
}