main .container{
    padding: 0;
}

main #mostrando{
    margin: 15px 10px 5px;
}

.containerFiltros{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.containerFiltros > *, .dropdown button{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    height: 100%;
    background-color: #fdfff9;
    font-size: 0.9rem;
    cursor: pointer;
}

.containerFiltros button:first-child{
    border-right: 1px solid black;
}

.containerFiltros img, .dropdown img{
    width: 15px;
    margin: 0 2px ;
}

.dropdown {
    position: relative;
}

.dropdown ul {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    top: 50px;
    right: 0;
    z-index: 100;
    border: 1px solid #0000002e;
}

.dropdown.activo ul {
    display: block;
}

.dropdown ul li {
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    margin: 5px 0px;
}

.dropdown ul li:hover {
    background-color: #ccc
}

.dropdown ul li.activo{
    border-left: 4px solid green;
    padding-left: calc(16px - 4px);
}

.containerCards{
    flex-direction: column;
}

.card{
    width: auto;
    min-height: auto;
    height: 150px;
    flex-direction: row;
    box-shadow: 0 0 0.675rem 0.075rem rgba(0,0,0,.2);
    background-color: #ffffffd4;
    margin: 10px 0;
}

.card:first-child{
    margin-left: 0;
}

.card .containerSlider{
    width: 40%;
    height: auto;
}

.card .cardFooter{
    margin: 0 0 0 15px;
    position: relative;
    flex: 1;
}

.cardFooter > * {
    margin-bottom: 10px;
}

.cardFooter .botones{
    bottom: 0;
    position: absolute;
    padding: 5px 15px;
    font-size: 0.7rem;
}

.acordeonContainer{
    display: flex;
    flex-direction: column;
    user-select: none;
}

.acordeonContainer:not(:first-child){
    margin-top: 1px;
}

.acordeonHeader{
    font-weight: 700;
    cursor: pointer;
    padding: 5px 5%;
    background-color: #a5a5a5;
}

.acordeonHeader h4:after{
    content: "+";
    float: right;
    font-weight: 700;
}

.acordeonHeader.activo h4:after{
    content: "-";
}

.acordeonBody{
    display: none;
}

.acordeonBody.activo{
    display: block;
}

.acordeonBody label{
    display: flex;
    margin: 5px 0;
    cursor: pointer;
}
.acordeonBody label input{
    margin-right: 10px;
}

.acordeonBody .starCalif{
    display: flex;
    justify-content: center;
    align-items: center;
}

.acordeonBody .starCalif img{
    content: url("/public/svgs/solid/star.svg");
    width: 12px;
}

#modalFiltros .starCalif img{
    filter: invert(99%) sepia(0%) saturate(1540%) hue-rotate(212deg) brightness(78%) contrast(106%);
}

#modalFiltros  .starCalif img.tildado{
    filter: invert(70%) sepia(85%) saturate(2597%) hue-rotate(359deg) brightness(102%) contrast(105%);
}

.acordeonBody .starCalif span{
    margin-left: 10px;
}

.acordeonFooter{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.acordeonFooter input{
    flex: 1;
    border-radius: 10px;
}

.acordeonFooter input[type=reset]{
    background-color: unset;
    color: black;
    font-size: .8rem;
    transition: unset;
}


/*sm*/
@media screen and (min-width: 576px) {
    .containerCards{
        margin: 0 5%;
    }
}

/*md*/
@media screen and (min-width: 768px) {
    .containerFilterAndElse{
        display: flex;
        flex-direction: row;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #modalFiltros{
        flex: 0 0 250px;
        margin-right: 15px;
    }

    #modalFiltros .container{
        margin: 0;
    }

    main .card{
        height: auto;
    }

    main .containerCards {
        margin: 0;
        flex: 1;
    }

    #modalFiltros .acordeonContainer:not(:first-child){
        margin-top: 10px;
    }

    #modalFiltros .acordeonBody{
        background-color: white;
        padding: 0 5%;
    }

    .card .cardFooter{
        margin: 0 0 0 10px
    }

    .cardFooter .botones {
        position: relative;
    }

    .containerCardsHeader{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 5px;
        padding: 5px 5px;
        background-color: #a5a5a5;
    }

    .containerCardsHeader #mostrando{
        color: black;
        font-weight: 700;
        margin: 0;
    }

    .dropdown button{
        background-color: black;
        color: white;
        border-radius: 10px;
        padding: 5px 10px;
    }

    .dropdown img{
        margin: 0 0 0 10px;
        filter: invert(100%) sepia(0%) saturate(672%) hue-rotate(297deg) brightness(120%) contrast(100%);
    }

    .dropdown ul{
        top: 29px;
        background-color: white;
    }

    .dropdown ul li{
        padding: 5px 25px;
        width: 150px;
        cursor: pointer;
    }

    .dropdown ul li.activo {
        padding-left: calc(25px - 4px);
    }

}

/*lg*/
@media screen and (min-width: 992px) {
    .containerCards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

    main .card{
        width: unset;
        min-width: unset;
        box-sizing: border-box;  
        display: flex;      
        flex-direction: column;
    }

    .card .containerSlider{
        width: unset;
        height: 70%;
    }

    main .card:first-child{
        margin: 5px;
    }

    main .card{
        margin: 5px;
    }
}

/*xl*/
@media screen and (min-width: 1200px) {
    main .containerCards{
        grid-template-columns: repeat(3, 1fr);
    }
}

/*xxl*/
@media screen and (min-width: 1500px) {
    main .containerCards{
        grid-template-columns: repeat(4, 1fr);
    }
}