.card {
    height: 40vh;
    box-shadow: 0 0 0.675rem 0.075rem rgba(0, 0, 0, .2);
    background-color: #ffffffd4;
    padding: 10px;
    margin: 10px;
}

.card h3 {
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
}

dt,
dd {
    display: inline-block;
}

.row,
.row ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card.infoBasica {
    height: auto;
}

.card.infoBasica .row:last-child {
    display: block;
}

.fotoBig {
    height: 70%;
}

.fotoBig img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.card.galeria .row {
    height: 30%;
    position: relative;
    margin: 0;
}

.row .mini.activo {
    width: 24%;
    align-items: center;
    cursor: pointer;
    display: flex;
}

.row .mini.activo img {
    object-fit: contain;
    width: 100%;
}

.row .mini.inactivo {
    display: none;
}


.card .row {
    justify-content: space-between;
    margin: 10px 0;
}

.card .sliderLeft img,
.card .sliderRight img {
    width: 8px;
    filter: invert(100%) sepia(0%) saturate(18%) hue-rotate(32deg) brightness(104%) contrast(100%);
}

.card .sliderLeft,
.card .sliderRight {
    padding: 5px;
    border-radius: 3px 0 0 3px;
    cursor: pointer;
    position: absolute;
    top: calc(50% - 14px);
    z-index: 2;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.7);
}

.card .sliderLeft {
    left: 0;
}

.card .sliderRight {
    right: 0;
}

.card .sliderLeft:hover,
.card .sliderRight:hover {
    background-color: rgba(0, 0, 0, 0.8);
}