<section id="calificacion">
    <h2 class="tituloTarjeta">CALIFICACION</h2>
    <section class="califGral">
        <section class="renglonCalifGral">
            <p class="califDescr">Regular</p>
        </section>
        <section class="renglonCalifGral">
            <p class="estrellas">&#9733;&#9733;&#9733;</p>
        </section>
        <section class="renglonCalifGral">
            <p class="usuario">por sobre 30 comentarios</p>
        </section>
    </section>
    <section class="califPart">
        <section class="renglonCalifPart">
            <p class="etiqueta">Comida</p>
            <p class="estrellas">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
        </section>
        <section class="renglonCalifPart">
            <p class="etiqueta">Servicio</p>
            <p class="estrellas">&#9733;&#9733;&#9733;</p>
        </section>
        <section class="renglonCalifPart">
            <p class="etiqueta">Precio</p>
            <p class="estrellas">&#9733;&#9733;&#9733;&#9733;</p>
        </section>
        <section class="renglonCalifPart">
            <p class="etiqueta">Ambiente</p>
            <p class="estrellas">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
        </section>
    </section>
</section>