<section id="caracteristicas">
    <h2 class="tituloTarjeta">CARACTERISTICAS</h2>
    <ul id="columnasCaracteristicas">
        <li class="itemDetalle">Caracteristica 1</li>
        <li class="itemDetalle">Caracteristica 2</li>
        <li class="itemDetalle">Caracteristica 3</li>
        <li class="itemDetalle">Caracteristica 4</li>
        <li class="itemDetalle">Caracteristica 5</li>
        <li class="itemDetalle">Caracteristica 6</li>
        <li class="itemDetalle">Caracteristica 7</li>
        <li class="itemDetalle">Caracteristica 8</li>
        <li class="itemDetalle">Caracteristica 9</li>
        <li class="itemDetalle">Caracteristica 10</li>
    </ul>
</section>