<section id="contactoUbicacion">
    <h2 class="tituloTarjeta">INFORMACION</h2>
    <ul>
        <li class="itemDetalle"><iframe
                src="https://www.google.com/maps/embed?&pb=!1m18!1m12!1m3!1d13137.599883723746!2d-58.955967887573244!3d-34.594046204987414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc346d4250459cfd4!2sArturo%20Cerveceria!5e0!3m2!1ses!2sar!4v1580415617067!5m2!1ses!2sar"
                frameborder="0" class="mapa"></iframe></li>
        <li class="itemDetalle"><img src="/public/res/logo ubicacion.png" class="logoTarjeta"><a href="/">Ubicacion</a>
        </li>
        <li class="itemDetalle"><img src="/public/res/logoWebsite.png" class="logoTarjeta"><a href="/">Pagina Web</a>
        </li>
        <li class="itemDetalle"><img src="/public/res/logo telefono.png" class="logoTarjeta"><a href="/">Telefono</a>
        </li>
        <li class="itemDetalle"><img src="/public/res/logo mail.png" class="logoTarjeta"><a href="/">Mail</a></li>
    </ul>
</section>