<a href="#" class="btnCerrar" onclick="cerrarMenu()">×</a>
<section id="menu">
    <ul class="ulGeneral">
        <li class="liCategorias">
            <h3 class="categoria">Tapeo</h3>
            <ul class="ulInterno">
                <li class="liRenglon">
                    <section class="renglon">
                        <p class="plato">Salchicha criolla</p>
                        <p class="precio">$120</p>
                        <p class="descripcion"></p>
                    </section>
                </li>
                <li class="liRenglon">
                    <section class="renglon">
                        <p class="plato">Patatas bravas o rancheras</p>
                        <p class="precio">$100</p>
                        <p class="descripcion"></p>
                    </section>
                </li>
                <li class="liRenglon">
                    <section class="renglon">
                        <p class="plato">Brocheta de morcilla de burgos con salsa de piquillo</p>
                        <p class="precio">$150</p>
                        <p class="descripcion"></p>
                    </section>
                </li>
            </ul>
        </li>
        <li class="liCategorias">
            <h3 class="categoria">Ensaladas</h3>
            <ul class="ulInterno">
                <li class="liRenglon">
                    <section class="renglon">
                        <p class="plato">Ensalada césar</p>
                        <p class="precio">$110</p>
                        <p class="descripcion">Mix de lechugas, tomate, rico pollo crujiente, salsa césar y cebolla
                            frita</p>
                    </section>
                </li>
                <li class="liRenglon">
                    <section class="renglon">
                        <p class="plato">Ensalada de patas de chipirón y alioli de wasabi</p>
                        <p class="precio">$150</p>
                        <p class="descripcion">Mix de lechugas, patas de chipiróny una salsa casera de alioli de wasabi
                        </p>
                    </section>
                </li>
                <li class="liRenglon">
                    <section class="renglon">
                        <p class="plato">Ensalada de ahumado</p>
                        <p class="precio">$200</p>
                        <p class="descripcion">Mix de lechuga, salmón ahumado y aguacate con crema de queso</p>
                    </section>
                </li>
            </ul>
        </li>
        <li class="liCategorias">
            <h3 class="categoria">Pescados</h3>
            <ul class="ulInterno">
                <li class="liRenglon">
                    <section class="renglon">
                        <p class="plato">Langostinos a la brasa</p>
                        <p class="precio">$300</p>
                        <p class="descripcion"></p>
                    </section>
                </li>
                <li class="liRenglon">
                    <section class="renglon">
                        <p class="plato">Zamburiñas a la brasa</p>
                        <p class="precio">$320</p>
                        <p class="descripcion"></p>
                    </section>
                </li>
                <li class="liRenglon">
                    <section class="renglon">
                        <p class="plato">Rabas</p>
                        <p class="precio">$190</p>
                        <p class="descripcion"></p>
                    </section>
                </li>
            </ul>
        </li>
        <li class="liCategorias">
            <h3 class="categoria">Hamburguesas</h3>
            <ul class="ulInterno">
                <li class="liRenglon">
                    <section class="renglon">
                        <p class="plato">Lady Pepa</p>
                        <p class="precio">$280</p>
                        <p class="descripcion">250gr de carne, bacon, lechuga, cebolla, tomate, salsa cheddar y
                            pepinillo</p>
                    </section>
                </li>
                <li class="liRenglon">
                    <section class="renglon">
                        <p class="plato">Caribeña</p>
                        <p class="precio">$290</p>
                        <p class="descripcion">250grs de carne de vacuno, huevo, bacon, piña,cebolla frita, lechuga,
                            tomate y salsa de mostaza dulce</p>
                    </section>
                </li>
                <li class="liRenglon">
                    <section class="renglon">
                        <p class="plato">Kentaky</p>
                        <p class="precio">$300</p>
                        <p class="descripcion">250grs de carne de vacuno,bacon ahumado, salsa cheddar,lechuga,
                            tomate,pepinillo, cebolla caramelizada y salsa BBQ</p>
                    </section>
                </li>
            </ul>
        </li>
        <li class="liCategorias">
            <h3 class="categoria">Postres</h3>
            <ul class="ulInterno">
                <li class="liRenglon">
                    <section class="renglon">
                        <p class="plato">Tarta de galletas de la abuela</p>
                        <p class="precio">$200</p>
                        <p class="descripcion"></p>
                    </section>
                </li>
                <li class="liRenglon">
                    <section class="renglon">
                        <p class="plato">Triple chocolate con nutella</p>
                        <p class="precio">$200</p>
                        <p class="descripcion"></p>
                    </section>
                </li>
                <li class="liRenglon">
                    <section class="renglon">
                        <p class="plato">Tarta de zanahoria con crema</p>
                        <p class="precio">$200</p>
                        <p class="descripcion"></p>
                    </section>
                </li>
            </ul>
        </li>
    </ul>
</section>