{% extends "base.html" %}
{% block head %}
{{ parent() }}
<link rel="stylesheet" href="/public/css/restauranteSingle.css">
{% endblock %}
{% block title %}Home{% endblock %}
{% block main %}
<main>
    <section class="container">
        <article class="card infoBasica">
            <h3>{{ datos.infoBasica.nombre }}</h3>
            <dl>
                <div class="row">
                    <dt>Ubicacion</dt>
                    <dd>{{ datos.infoBasica.ubicacion }}</dd>
                </div>
                <div class="row">
                    <dt>Horario</dt>
                    <dd>{{ datos.infoBasica.horario }}</dd>
                </div>
                <div class="row">
                    <dt>Telefono</dt>
                    <dd>{{ datos.infoBasica.telefono }}</dd>
                </div>
                <div class="row">
                    <dt>Descripcion</dt>
                    <dd>{{ datos.infoBasica.descripcion }}</dd>
                </div>
            </dl>
        </article>
        <article class="card galeria">
            <section class="fotoBig">
                <img src="/public/res/fotosRest/foto1.jpg" alt="">
            </section>
            <section class="row">
                <span class="sliderLeft"><img src="/public/svgs/solid/angle-left.svg" alt=""></span>
                <ul>
                    <li class="mini activo"><img src="/public/res/fotosRest/foto2.jpg" alt=""></li>
                    <li class="mini activo"><img src="/public/res/fotosRest/foto3.jpg" alt=""></li>
                    <li class="mini activo"><img src="/public/res/fotosRest/foto4.jpg" alt=""></li>
                    <li class="mini activo"><img src="/public/res/fotosRest/foto5.jpg" alt=""></li>
                    <li class="mini inactivo"><img src="/public/res/fotosRest/foto5.jpg" alt=""></li>
                    <li class="mini inactivo"><img src="/public/res/fotosRest/foto4.jpg" alt=""></li>
                </ul>
                <span class="sliderRight"><img src="/public/svgs/solid/angle-right.svg" alt=""></span>
            </section>
        </article>
    </section>
</main>

<script>
    let portadasActivas = 4;
    let imgBig = document.querySelector('.fotoBig img');
    let sliderGaleria = document.querySelector('.card.galeria .row');
    sliderGaleria.addEventListener('click', function (e) {
        let ulImagenes = document.querySelector(".card.galeria ul");
        let liInactivos = document.querySelectorAll(".card.galeria ul li.inactivo");
        if (e.target.tagName == 'IMG' && e.target.closest('.mini') != null) {
            imgBig.src = e.target.src;
        } else if (e.target.closest('.sliderLeft') != null || e.target.classList.contains('sliderLeft')) {
            let primerItemActivo = ulImagenes.getElementsByClassName("activo")[0];
            primerItemActivo.classList.replace("activo", "inactivo");
            ulImagenes.appendChild(primerItemActivo);
            var primerItemInactivo = ulImagenes.getElementsByClassName("inactivo")[0];
            primerItemInactivo.classList.replace("inactivo", "activo");
        } else if (e.target.closest('.sliderRight') != null || e.target.classList.contains('sliderRight')) {
            let ultimoItemActivo = ulImagenes.getElementsByClassName("activo")[portadasActivas - 1];
            ultimoItemActivo.classList.replace("activo", "inactivo");
            let ultimoItemInactivo = ulImagenes.getElementsByClassName("inactivo")[liInactivos.length];
            ultimoItemInactivo.classList.replace("inactivo", "activo");
            ulImagenes.insertBefore(ultimoItemInactivo, ulImagenes.firstChild);
        }
    })
</script>
{% endblock %}