{% extends "base.html" %}
{% block head %}
{{ parent() }}
<link rel="stylesheet" href="/public/css/index.css">
<link rel="stylesheet" href="/public/css/restaurant.css">
<script src="/public/scripts/carrouselesCards.js"></script>
<script src="/public/scripts/todosRestaurantes.js"></script>
{% endblock %}
{% block title %}Restaurantes{% endblock %}
{% block main %}

<main>
    <section class="container">
        <div class="containerFiltros">
            <button data-toggle="modal" data-target="#modalFiltros" id="btnModalFiltros"><img
                    src="/public/svgs/solid/filter.svg" alt=""><span>Filtros</span></button>
            <div class="dropdown">
                <button><span>Ordenar Por</span><img src="/public/svgs/solid/sort-amount-down-alt.svg" alt=""></button>
                <ul>
                    <li class="activo">Mas Populares</li>
                    <li>Mejor Valorados</li>
                    <li>Nuevos</li>
                    <li>Nombre</li>
                </ul>
            </div>
        </div>
        <p id="mostrando">Mostrando 10 Restaurantes...</p>
        <div class="containerCards">
            {% for j in 0..10 %}
            <article class="card">
                <div class="containerSlider">
                    <span class="sliderLeft"><img src="/public/svgs/solid/angle-left.svg" alt=""></span>
                    <a href="/restaurantes?nombre=resto{{ j }}">
                        <ul>
                            <li class="activo"><img src="/public/res/fotosRest/foto1.jpg" alt=""></li>
                            <li><img src="/public/res/fotosRest/foto2.jpg" alt=""></li>
                            <li><img src="/public/res/fotosRest/foto3.jpg" alt=""></li>
                            <li><img src="/public/res/fotosRest/foto4.jpg" alt=""></li>
                            <li><img src="/public/res/fotosRest/foto5.jpg" alt=""></li>
                        </ul>
                    </a>
                    <span class="sliderRight"><img src="/public/svgs/solid/angle-right.svg" alt=""></span>
                </div>
                <div class="cardFooter">
                    <h4><a href="/restaurantes?nombre=resto{{ j }}">Restaurante Pepito &nbsp; {{ j }}</a></h4>
                    <div class="cardCalificacion">
                        <div>
                            <span class="starCalif"><img src="/public/svgs/solid/star.svg" alt=""></span>
                            <span class="starCalif"><img src="/public/svgs/solid/star.svg" alt=""></span>
                            <span class="starCalif"><img src="/public/svgs/solid/star.svg" alt=""></span>
                            <span class="starCalif"><img src="/public/svgs/solid/star.svg" alt=""></span>
                            <span class="starCalif"><img src="/public/svgs/solid/star-half-alt.svg" alt=""></span>
                        </div>
                        <div>
                            <small>Sobre 128 Opiniones</small>
                        </div>
                    </div>
                    <div class="cardInfo">
                        <ul>
                            <li>
                                <img src="/public/svgs/solid/map-marker-alt.svg" alt="">
                                <p>Springfield - Calle Falsa 123</p>
                            </li>
                            <li>
                                <img src="/public/svgs/solid/clock.svg" alt="">
                                <p>Lun-Dom - 10hs-23hs</p>
                            </li>
                        </ul>
                    </div>
                    <button class="botones">Mas Info</button>
                </div>
            </article>
            {% endfor %}
        </div>
    </section>
    <section id="modalFiltros" class="modal">
        <div class="container">
            <span class="closeBtn">
                <img src="/public/svgs/solid/times-circle.svg" alt="">
            </span>
            <div class="modalBody">
                <form action="" method="post">
                    <div class="acordeonContainer">
                        <div class="acordeonHeader">
                            <h4>Caracteristicas</h4>
                        </div>
                        <div class="acordeonBody">
                            <label><input type="checkbox" name="">Sin reserva</label>
                            <label><input type="checkbox" name="">Shows en Vivo</label>
                            <label><input type="checkbox" name="">Apto Vegetarianos</label>
                            <label><input type="checkbox" name="">Apto Veganos</label>
                            <label><input type="checkbox" name="">Sin Gluten</label>
                            <label><input type="checkbox" name="">Tarjetas de Credito</label>
                            <label><input type="checkbox" name="">Delivery</label>
                        </div>
                    </div>
                    <div class="acordeonContainer">
                        <div class="acordeonHeader">
                            <h4>Estrellas</h4>
                        </div>
                        <div class="acordeonBody">
                            {% for i in 1..5 %}
                            <label>
                                <input type="checkbox" name="">
                                <span class="starCalif">
                                    {% for j in 1..5 %}
                                    {% set tildado = '' %}
                                    {% if i >= j %}
                                    {% set tildado = 'tildado' %}
                                    {% endif %}
                                    <img src="/public/svgs/solid/star.svg" alt="" class="{{ tildado }}">
                                    {% endfor %}
                                    <span>{{ i }} Estrella</span></span>
                            </label>
                            {% endfor %}
                        </div>
                        <div class="acordeonFooter">
                            <input type="reset" class="botones" value="Limpiar Filtros">
                            <input type="submit" class="botones" value="Aplicar Filtros">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
{% endblock %}